
<div class="py-3 border-top">
  <div class="container">

    <div class="row">

      <div class="col-sm-4">
        <p class="h5">{{ site.title | escape }}</p>
      </div>

      <div class="col-sm-8 text-right">
        <p class="lead small">Please submit any questions or queries to
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </p>
      </div>

    </div>

    <div class="row">

      <div class="col-sm text-right">
        <p class="lead small">Organised by
          <a href="https://www.turing.ac.uk/people/enrichment-students/pedro-pinto-da-silva">Pedro</a>
          and
          <a href="https://www.turing.ac.uk/people/business-team/mishka-nemes">Mishka</a>
          </p>
      </div>

    </div>

  </div>
</div>
