---
layout: default
---

<div class="jumbotron">

  <h1 class="display-4">{{ site.title }}</h1>

  <p class="lead"> {{ page.content }} </p>

  <hr class="my-4">

  <div class="mt-1 mb-4 ml-0 mr-0">
    {% if page.alertdeadline %}
      {% include deadline_alert.html %}
    {% endif %}
  </div>


  <div class="border border-2 rounded p-3">
    <p>
      <h3>
        Poster session 1 &centerdot;
        <small class="text-muted"> 16-17 September 2020</small>
      </h3>
    </p>
    <p class = "mb-1">
      <span class = "lead">Main themes</span>
      <br>
      {% include badges/health.html %}
    </p>
    <p>
      <span class = "lead">Cross-cutting themes</span>
      <br>
      {% include badges/policy.html %}
      {% include badges/tools.html %}
      {% include badges/ethics.html %}
    </p>
  </div>

  <div class="border border-2 rounded p-3 mt-3">
    <p>
      <h3>
        Poster session 2 &centerdot;
        <small class="text-muted"> 23-24 September 2020</small>
      </h3>
    </p>
    <p>
      <span class = "lead">Main themes</span>
      <br>
      {% include badges/economic.html %}
      {% include badges/engineer.html %}
      {% include badges/secure.html %}
      {% include badges/social.html %}
    </p>
    <p>
      <span class = "lead">Cross-cutting themes</span>
      <br>
      {% include badges/policy.html %}
      {% include badges/tools.html %}
      {% include badges/ethics.html %}
      {% include badges/theory.html %}
    </p>
  </div>

</div>
