---
layout: default
---

<div class="jumbotron">

  <h1 class="display-4">{{ site.title }}</h1>

  <p class="lead">
  	A showcase of
  	<a style="strong" href="https://www.turing.ac.uk/">Turing</a>
  	projects across
  	<a style="strong" href="https://www.turing.ac.uk/people/doctoral-students">student cohorts</a>
  	and
  	<a style="strong" href="https://www.turing.ac.uk/research/research-programmes">research themes</a>.
  </p>

  <div class="mt-1 mb-4 ml-0 mr-0">
    <div class="alert alert-dismissible alert-warning fade show" role="alert">
    	<p class="lead mb-0">
    		<strong>Posters and videos are now live!</strong>
    	</p>
    	<button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
    </div>

    {% if page.alertregistration %}
      {% include registration_alert.html %}
    {% endif %}
    {% if page.alertdeadline %}
      {% include deadline_alert.html %}
    {% endif %}
  </div>

  <hr class="my-4">

  <p>
    The Turing is pleased to host on <strong>24 September 2020</strong>
    the first virtual research showcase led by its student community.
    This initiative aims to highlight the work being carried out by students who
    have been funded by the Institute through either its Doctoral or Enrichment
    scheme. This is an excellent opportunity for you to find out more about the
    on-going work at the Turing and forge new collaborations.
  </p>

  <p>
    Register on {% include eventbrite.html %} to receive Zoom details and please
    support our students by attending at least 2 Q&A sessions.
  </p>

  <p>
    For any queries please email us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>
  </p>

  <p>
    <a role="button" aria-disabled="true" href="{{ site.baseurl }}/programme/" class="border rounded btn btn-primary">Schedule</a>
  </p>

  <hr class="my-4">

  <img src="{{ site.baseurl }}/assets/images/cover.jpg"
       class="img-fluid rounded" alt="Event poster">

</div>
