---
layout: page
---

{% if page.production == true %}
  {% assign poster_link = "" %}
{% else %}
  {% assign poster_link = "disabled" %}
{% endif %}

<table class="table table-bordered my-5">
  <thead class="thead-light text-center">
    <tr>
      <th scope="col" style="width: 20%">#</th>
      <th scope="col" style="width: 40%">Room 1</th>
      <th scope="col" style="width: 40%">Room 2</th>
    </tr>
  </thead>

	<tbody>
		{% assign programme = site.data.programme | where: "showcase", page.showcase %}

		{% for slot in programme %}

			<tr>

				{% comment %}
					Time
				{% endcomment %}

				<th scope = "row" class="text-center align-middle" ><span class="h5">{{ slot.time }}</span></th>

				{% comment %}
					Room 1 cell
				{% endcomment %}

				{% if slot.poster_id_1== "NA" %}
					<td></td>

				{% else %}

					{% assign poster1 = site.data.posters | where: "poster_id", slot.poster_id_1 | first %}

					{% include programme_room_cell.html
						poster_id = poster1.poster_id
						title = poster1.title
						student = poster1.student
						student_url = poster1.student_url
						file_id = poster1.file_id
						main_theme = poster1.main_theme
						cross_theme = poster1.cross_theme
						poster_link = poster_link
						zoom_link = slot.zoom_link_1
            video_link = slot.video_link_1
            has_video = slot.has_video_1
            has_poster = slot.has_poster_1
					%}

				{% endif %}

				{% comment %}
					Room 2 cell
				{% endcomment %}

				{% if slot.poster_id_2 == "NA" %}
					<td></td>

				{% else %}

					{% assign poster2 = site.data.posters | where: "poster_id", slot.poster_id_2 | first %}

					{% include programme_room_cell.html
						poster_id = poster2.poster_id
						title = poster2.title
						student = poster2.student
						student_url = poster2.student_url
						file_id = poster2.file_id
						main_theme = poster2.main_theme
						cross_theme = poster2.cross_theme
						poster_link = poster_link
						zoom_link = slot.zoom_link_2
            video_link = slot.video_link_2
            has_video = slot.has_video_2
            has_poster = slot.has_poster_2
					%}

				{% endif %}

				</tr>

    {% endfor %}

	</tbody>
</table>
