---
layout: page
---

<div class="alert alert-dismissible alert-info fade show" role="alert">
	<p class="lead mb-0">
		<strong>Click on the title to access the poster's abstract.</strong>
	</p>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
</div>

{% if page.production == true %}
  {% assign poster_link = "" %}
{% else %}
  {% assign poster_link = "disabled" %}
{% endif %}

<table class="table table-bordered my-5">
  <thead class="thead-light text-center">
    <tr>
      <th scope="col" style="width: 20%">#</th>
      <th scope="col" style="width: 40%">Room 1</th>
      <th scope="col" style="width: 40%">Room 2</th>
    </tr>
  </thead>

	<tbody>
		{% assign programme = site.data.programme | where: "showcase", page.showcase %}

		{% for slot in programme %}

			{% if slot.time == "12:00" or slot.time == "13:00" %}
				<tr class="table-light">
					<th scope = "row" class="text-center align-middle" ><span class="h5">{{ slot.time }}</span></th>
					<td colspan="2" class="text-center">Lunch break</td>
				</tr>
			{% else %}
				<tr>
					<th scope = "row" class="text-center align-middle" ><span class="h5">{{ slot.time }}</span></th>

					{% if slot.poster_id_1 == "NA" %}
						<td></td>
					{% else %}

            {% assign poster = site.data.posters | where: "poster_id", slot.poster_id_1 | first %}

						<td class="align-bottom">
              <p class = "mb-1">
                <a target="_blank" href="{{ site.baseurl }}/posters/{{ poster.poster_id }}/" class="passive-link"><strong>{{ poster.title }}</strong></a>
              </p>
              <p class = "mb-2">
                <a target="_blank" href="{{ poster.student_url }}" class="passive-link"><em>{{ poster.student }}</em></a>
              </p>

              {% assign main_theme = site.data.themes.main[poster.main_theme] %}
          		{% assign cross_theme = site.data.themes.cross[poster.cross_theme] %}

              <p>
                {% if main_theme != blank %}
            			<a target="_blank" href="{{ main_theme.url }}" class="badge badge-pill badge-{{ poster.main_theme }}">{{ main_theme.name }}</a>
            		{% endif %}

            		{% if cross_theme != blank %}
            			<a target="_blank" href="{{ cross_theme.url }}" class="badge badge-pill badge-{{ poster.cross_theme }}">{{ cross_theme.name }}</a>
            		{% endif %}
              </p>

              <hr class="my-1">

              <div class="row">
        				<div class = "col-sm">
        	  		<a target="_blank" role="button" aria-disabled="true" href="{{ site.baseurl }}/assets/posters/{{ poster.file_id }}.pdf" class="btn btn-sm btn-link btn-block {{ poster_link }}">Poster</a>
        	  		</div>
        			 <div class="col-sm">
                 <a target="_blank" role="button" aria-disabled="true" href="{{ slot.zoom_link_1 }}" class="btn btn-sm btn-link btn-block">Zoom</a>
        			 </div>
        		 </div>
  					</td>

					{% endif %}

					{% if slot.poster_id_2 == "NA" %}
						<td></td>
					{% else %}

            {% assign poster = site.data.posters | where: "poster_id", slot.poster_id_2 | first %}

            <td class="align-bottom">
              <p class = "mb-1">
                <a target="_blank" href="{{ site.baseurl }}/posters/{{ poster.poster_id }}/" class="passive-link"><strong>{{ poster.title }}</strong></a>
              </p>
              <p class = "mb-2">
                <a target="_blank" href="{{ poster.student_url }}" class="passive-link"><em>{{ poster.student }}</em></a>
              </p>

              {% assign main_theme = site.data.themes.main[poster.main_theme] %}
              {% assign cross_theme = site.data.themes.cross[poster.cross_theme] %}

              <p>
                {% if main_theme != blank %}
                  <a target="_blank" href="{{ main_theme.url }}" class="badge badge-pill badge-{{ poster.main_theme }}">{{ main_theme.name }}</a>
                {% endif %}

                {% if cross_theme != blank %}
                  <a target="_blank" href="{{ cross_theme.url }}" class="badge badge-pill badge-{{ poster.cross_theme }}">{{ cross_theme.name }}</a>
                {% endif %}
              </p>

              <hr class="my-1">

              <div class="row">
                <div class = "col-sm">
                <a target="_blank" role="button" aria-disabled="true" href="{{ site.baseurl }}/assets/posters/{{ poster.file_id }}.pdf" class="btn btn-sm btn-link btn-block {{ poster_link }}">Poster</a>
                </div>
               <div class="col-sm">
                 <a target="_blank" role="button" aria-disabled="true" href="{{ slot.zoom_link_2 }}" class="btn btn-sm btn-link btn-block">Zoom</a>
               </div>
             </div>
            </td>

          {% endif %}

      {% endif %}

    {% endfor %}
	</tbody>
</table>
